{
  "extends": "react-app",
  "plugins": ["react-hooks"],
  "globals": {
    "cy": true,
    "Cypress": true,
    "workbox": true,
    "self": true
  },
  "rules": {
    "semi": 1,
    "space-before-function-paren": 1,
    "object-curly-spacing": [1, "always"],
    "indent": [1, 2, { "SwitchCase": 1 }],
    "max-len": [
      1,
      {
        "code": 80,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "no-trailing-spaces": 1,
    "no-multiple-empty-lines": [1, { "max": 1 }],
    "no-var": 1,
    "no-unused-vars": [1, { "argsIgnorePattern": "^_" }],
    "arrow-spacing": 1,
    "comma-spacing": 1,
    "comma-dangle": [1, "always-multiline"],
    "eqeqeq": 1,
    "arrow-parens": [1, "as-needed"],
    "spaced-comment": 1,
    "prefer-template": 1,
    "eol-last": 1,
    "quotes": [1, "single", { "allowTemplateLiterals": true }],
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/anchor-has-content": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
